.overview {
    display: flex;
    flex-direction: column;
}

.overview-row {
    display: flex;
    padding: 10px;
    justify-content: center;
}

.overview-cell {
    width: 40%;
}

.btn-remove-game {
    width: 25px;
}

.overview-separator {
    width: 1px;
    background: black;
}

.add-game-form {
    display: flex;
    padding: 20px;
}
.add-game-form > * {
    margin: 15px;
}